@import url(./utilities.css);
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

:root {
  --primary: #22a9e3;
  --primary-rgb: 34, 169, 227;
  --secondary: #6c757d;
  --secondary-rgb: 108, 117, 125;
  --body-bg: #05050b;
  --card-bg: #1c1c27;
  --form-bg: #111119;
  --input-bg: #272735;
  --title-color: #c1bcbc;
  --text-color: #adadad;
  --link-color: #3b86d2;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
  --black: #000000;
  --black-rgb: 0, 0, 0;
  --gutter-x: 1.5rem;
  --gutter-y: 0;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1rem 0;
}

body {
  margin: 0;
  background-color: var(--body-bg);
  color: var(--text-color);
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navbar {
  padding: 1rem 0;
}

.navbar-brand {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--white);
}

.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav a {
  padding: 0.5rem 1rem;
  color: var(--text-color);
  transition: all 0.3s;
}

.navbar-nav a:hover,
.navbar-nav a.active {
  color: var(--primary);
}

main > .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  padding: 1.5rem;
  padding-bottom: 0;
  background: #1c1c27;
}

.card-body {
  margin-bottom: 1.5rem;
}
.card-body p {
  margin-bottom: 0;
}

.card-title {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #c1bcbc;
  font-size: 2rem;
}

.card-text {
  color: #adadad;
}

.card-category {
  margin: 0 -1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.15) !important;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 0.8rem;
}
